    <div class="card">
        <h3 class="card-header">Sign Up</h3>
        <form action="/register" method="post">
                <fieldset>
                <legend>Login</legend>
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password"/>
                </div>
                <div>
                    <label for="bio">Bio</label>
                    <textarea type="text" name="bio" id="bio"cols="30" rows="10"/> tell us about yourself...</textarea>
                    <input type="submit" value="Log In">
                </div>
            </fieldset>
        </form>
    </div>

<script src="/script/register.js"></script>